<table>
  <tr>
    <th>
      <div class="centerpic" %>
        <%= image_tag("mensch.jpg", height:"200") %>
      </div>
    </th>
    <th><div class="rcorners2">Event 1 <br> Event 2 <br></div></th>
  </tr>
</table>


<%= content_tag :div, class: "big" do %>
    <table>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
      </tr>
    </table>
<% end %>
<%= content_tag :div, class: "small" do %>
    Title: <br>
    a<br>
    Genre: <br>
    b<br>
    Description:<br>
    c<br>
<% end %>