<%= content_tag :div, class: "big" do %>

<table style="align: center; width: 70%">
  <tr>
    <th colspan="2">
      <div class="centerpic" %>
        <%= image_tag("mensch.jpg", width:"100%") %>
      </div>
    </th>
    <th><div class="rcorners2">Event 1 <br> Event 2 <br></div></th>
  </tr>
      <tr>
        <td style="padding-right: 10px"><div class="philcolumn">Title</div><br><div class="philcolumn">Kurzmeldung Philosophische Forschung
          (Alumni / Jobs/ Publikationen/ CFP)</div></td>
        <td style="padding-right: 10px; align: right"><div class="philcolumn">Title</div><br><div class="philcolumn">Kurzmeldung Philosophische Forschung
          (Alumni / Jobs/ Publikationen/ CFP)</div></td>
        <td><div class="philcolumn">Title</div><br><div class="philcolumn">Kurzmeldung Philosophische Forschung
          (Alumni / Jobs/ Publikationen/ CFP)</div></td>
      </tr>
    </table>
<% end %>
<%= content_tag :div, class: "small" do %>
    Title: <br>
    a<br>
    Genre: <br>
    b<br>
    Description:<br>
    c<br>
<% end %>
</div>

