/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
    margin: 0 auto;
}

.rcorners2 {
    border-radius: 8px;
    padding: 20px;
    width: 100px;
    height: 200px;
    background-color: #cdd1d1;
}


.rechtsblau{
    text-align: right;
    background-color: #0bfdff;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.rechtsblau > a {
    color: #ffffff;
}

.rechtsblau > a:hover {
    color: #cdd1d1;
    text-decoration: none;
}


.centerpic{
    text-align:center;
}

.navbar-default{
    background-image: linear-gradient(to bottom, #0c4dff 0%, #1c63ff 100%);
}

.navbar-default1{
    background-image: linear-gradient(to bottom, #20fffa 0%, #ff2500 100%); /* would work, but bit chaotic" */
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #cdd1d1;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #cdd1d1;
}

@media (max-width: 767px){
    .rechtsblau1{
        display: none;
    }

    .rechtsblau1 > a {
        display: none;
    }
    .big   { display: none; }
    .small { display: block; }
}

@media (min-width: 767px){

    .rechtsblau1{
        text-align: center;
        background-color: #00ffc8;
        width: 100%;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-right: 10px;
        color: #ffffff;
    }

    .rechtsblau1 > a {

        color: #ffffff;
    }

    .big   { display: block; }
    .small { display: none; }
}